@model Drogueria.Models.LibroSolicitudesModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Home.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/images/Hall9000_edo.png" />
    <title>Libro de solicitudes</title>
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/RecursosExternos/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/RecursosExternos/semantic.min.css">


    <link href="~/RecursosExternos/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/RecursosExternos/bootstrap.min.js"></script>
    <script src="~/RecursosExternos/jquery.min.js"></script>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <script src="~/Scripts/Script_LibroSolicitudes.js"></script>

    <style>


        html {
            background: url('/Images/Wall1.jpg') no-repeat center center fixed;
            background-size: cover;
        }

        body {
            width: 100%;
            height: 100%;
            background-image: url('/Images/Wall1.jpg');
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .card-img-top {
            width: 250px;
        }

        .contenedor-imagen {
            width: 100%;
            text-align: center;
        }
    </style>

    <script>
        var urlObtenerProductos = '@Url.Action("ObtenerProductos", "LibroSolicitudes")';
        @*var urlObtenerPrioridad = '@Url.Action("ObtenerPrioridad", "LibroSolicitudes")';*@
        var urlObtenerEstado = '@Url.Action("ObtenerEstado", "LibroSolicitudes")';
        var urlObtenerSolicitud = '@Url.Action("ObtenerSolicitud", "LibroSolicitudes")';
        var urlObtenerDetalleSolicitud = '@Url.Action("ObtenerDetalleSolicitud", "LibroSolicitudes")';
        var urlInsertarSolicitud = '@Url.Action("InsertarSolicitud", "LibroSolicitudes")';
        var urlAgregarProducto = '@Url.Action("AgregarProducto", "LibroSolicitudes")';
        var urlQuitarProducto = '@Url.Action("QuitarProducto", "LibroSolicitudes")';
        var urlBusquedaFiltro = '@Url.Action("BusquedaFiltro", "LibroSolicitudes")';
        var urlObtenerClases = '@Url.Action("ObtenerClases", "LibroSolicitudes")';
        var urlEnviarSolicitud = '@Url.Action("EnviarSolicitud", "LibroSolicitudes")';

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });

            ExportarExcel = function () {
                location.href = '@Url.Action("ExportToExcel", "LibroSolicitudes")';
             };
        });
    </script>
</head>
<body>
    <br />
    <div>
        @if (Request.Browser.IsMobileDevice)
        {
            <div class="fields">
                <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                @*<div id="btnExportar" class="ui labeled purple icon button" onclick="ExportarExcel();">
                        <i class="table download icon"></i>Exportar a Excel
                    </div>*@
            </div>
            <table class="ui fixed table inverted table-striped table-bordered">
                <tbody>
                    @foreach (var listaSolicitudes in Model.lista)
                    {
                        <tr>
                            <td style="width:10%">
                                <button class="ui icon blue button" data-toggle="modal" data-target="#modalSolicitud" value="@listaSolicitudes.Id" onclick="ObtenerSolicitud(this.value, this);">
                                    <i class="eye icon"></i>
                                </button>
                            </td>
                            <td>Fecha de ingreso: @listaSolicitudes.Fecha_Ingreso.ToString()</td>
                            <td>Numero de solicitud: @listaSolicitudes.Folio</td>

                            <td>Observación: @listaSolicitudes.Observacion_Solicitud</td>
                            <td>Usuario solicitante: @listaSolicitudes.UsuarioCreador</td>
                            <td>Estado: @listaSolicitudes.Estado</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="10">
                            <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        }
        else
        {
            <div style="margin-left:auto; margin-right:auto;width:80%;opacity:0.9">
                <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:100%; opacity:0.9">
                    <div class="ui icon warning message">
                        <i class="search icon"></i>
                        <div class="content">
                            <div class="header">
                                Filtro
                            </div>
                            <p>Para lograr una búsqueda efectiva debe seleccionar al menos un filtro.</p>
                        </div>
                    </div>
                    <table border="0">
                        <tr>
                            <td><label>Fecha desde</label></td>
                            <td style="width:5px"></td>
                            <td>
                                <div class="ui calendar" id="divFiltroDesde">
                                    <div class="ui input left icon">
                                        <input id="txtFiltroDesde" type="date" placeholder="Fecha desde" value=@Session["FiltroInformeDesde"]>
                                    </div>
                                </div>
                            </td>
                            <td style="width:5px"></td>
                            <td style="text-align:right"><label>Fecha Hasta</label></td>
                            <td style="width:5px"></td>
                            <td><div class="ui input"><input id="txtFiltroHasta" type="date" placeholder="Fecha hasta" value=@Session["FiltroInformeHasta"]></div></td>
                            <td style="width:5px"></td>
                            <td>
                                <div id="btnBuscarFiltro" style="width:200px" class="ui blue right labeled icon button" onclick="BusquedaFiltro();">
                                    Buscar por fecha
                                    <i class="search icon"></i>
                                </div>
                            </td>
                        </tr>
                        <tr style="width:5px">
                            <td><label></label></td>
                            <td></td>

                        </tr>


                    </table>
                    @*<table border="0">
                            <tr>
                                <td><label>N° Venta</label></td>
                                <td style="width:5px"></td>
                                <td>
                                    <div class="ui input"><input id="txtFiltroNumero" type="number" placeholder="Digite el N° Venta"></div>
                                </td>
                                <td style="width:5px"></td>
                                <td>
                                    <div id="btnBuscarPorNumero" style="width:200px" class="ui orange right labeled icon button" onclick="BusquedaFiltroPorNumero();">
                                        Buscar por numero
                                        <i class="search icon"></i>
                                    </div>
                                </td>
                            </tr>

                        </table>*@
                </div>
                <div class="fields">
                    <div id="btnExportar" class="ui labeled black icon button" data-toggle="modal" data-target="#modalSolicitud">Crear solicitud<i class="check icon"></i></div>
                    <div id="btnExportar" class="ui labeled blue icon button" onclick="ExportarExcel();">Exportar a Excel<i class="table download icon"></i></div>
                    <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                </div>
                <table id="tabla" class="ui fixed table inverted table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width:100px"></th>
                            <th>Fecha de ingreso</th>
                            <th>Numero Solicitud</th>
                            <th>Tipo</th>

                            <th>Observación</th>
                            <th>Usuario solicitante</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var listaSolicitudes in Model.lista)
                        {
                            <tr>

                                <td style="width:8%">
                                    <button class="ui icon blue button" data-toggle="modal" data-target="#modalSolicitud" value="@listaSolicitudes.Id" onclick="ObtenerSolicitud(this.value, this);">
                                        <i class="eye icon"></i>
                                    </button>
                                </td>
                                <td>@listaSolicitudes.Fecha_Ingreso.ToString()</td>
                                <td>@listaSolicitudes.Folio</td>
                                <td>@listaSolicitudes.Tipo</td>

                                <td>@listaSolicitudes.Observacion_Solicitud</td>
                                <td>@listaSolicitudes.UsuarioCreador</td>
                                @if (listaSolicitudes.Estado_Id == 1)
                                {
                                    <td>
                                        <button class="ui icon green button" value="@listaSolicitudes.Id" disabled>
                                            <i class="paper plane outline icon"></i>
                                        </button>
                                    </td>
                                }
                                @if (listaSolicitudes.Estado_Id == 2)
                                {
                                    <td>
                                        <button class="ui icon red button" data-toggle="modal" data-target="#modalEnviarSolicitud" value="@listaSolicitudes.Id" onclick="PreparaEnviaSolicitud(this.value, this);">
                                            <i class="paper plane outline icon"></i>
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="7">
                                <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        }
    </div>
    <br />
    <div class="modal fade" id="modalSolicitud" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: auto; margin-right: auto; width: 50%; opacity:1">
        <div class="modal-xl" role="document">
            <div class="modal-content" style="width:100%">
                <div style="height:3px">

                </div>
                <h4 class="ui center aligned header">
                    <img src="~/Images/LogoBackline2.png" class="ui image">
                    Ingreso de solicitudes
                </h4>
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al llenar el formulario!
                            </div>
                            <ul class="list">
                                <li>
                                    La data de este formulario debe ser llenada con la mayor exactitud posible.
                                </li>
                                <li>Si está creando una solicitud nueva, el número de folio se creará de forma correlativa al guardar la solicitud.</li>
                            </ul>
                            <div id="msjAdvertencia" class="ui icon hidden warning message">
                                <i class="exclamation triangle icon"></i>
                                <div class="content">
                                    <div class="header">
                                        Esta conductor ya existe!!!
                                    </div>
                                    <p>el RUT que está digitando ya está registrado.</p>
                                </div>
                            </div>
                            <div class="ui divider"></div>
                            <div class="ui form">

                                <div class="two fields">
                                    <div class="field">
                                        <label>Fecha Solicitud</label>
                                        <input id="txtFechaIngreso" placeholder=" " value=@Session["FechaActual"] type="text" readonly>
                                    </div>
                                    <div class="field">
                                        <label>Folio</label>
                                        <input id="txtFolio" placeholder=" " type="text" readonly>
                                    </div>
                                    <div id="divcmbTipo" class="field">
                                        <label>Tipo</label>
                                        <select id="cmbTipo" name="cmbTipo" class="ui fluid search selection dropdown">
                                        </select>
                                    </div>
                                    @*<div id="divcmbPrioridad"  class="field">
                                            <label>Prioridad</label>
                                            <select id="cmbPrioridad" name="cmbPrioridad" class="ui fluid search selection dropdown">
                                            </select>
                                        </div>*@
                                    @*<div id="divcmbEstado" class="field">
                                        <label>Estado</label>
                                        <select id="cmbEstado" name="cmbEstado" class="ui fluid search selection dropdown">
                                        </select>
                                    </div>*@

                                </div>
                                <div class="field">
                                    <label>Observación</label>
                                    <textarea id="txtObservacion" rows="4" placeholder="Observación"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height:7px"></div>
                    <div id="divProgramacion">
                        <h4 class="ui top attached block header" style="margin-left:auto; margin-right:auto; width:100%;height:90%">
                            Detalle artículos
                        </h4>
                        <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:100%">

                            <form class="ui form">
                                <div id="divcmbClase" class="field">
                                    <label>Clase</label>
                                    <select id="cmbClase" name="cmbClase" class="ui search selection dropdown">
                                    </select>
                                </div>
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:40%">
                                            <div id="divcmbArticulo" class="field">
                                                <label>Articulo</label>
                                                <select id="cmbArticulo" name="cmbArticulo" class="ui search selection dropdown">
                                                </select>
                                            </div>
                                        </td>
                                        <td style="width:10%">
                                            <div id="divtxtCantidad" class="field">
                                                <label>Cantidad</label>
                                                <input id="txtCantidad" type="number" min="1" />
                                            </div>

                                        </td>
                                        <td style="width:30%">
                                            <div class="field">
                                                <label>Observación</label>
                                                <input id="txtObservacionArticulo" type="text" />
                                            </div>
                                        </td>
                                        <td style="width:10%">
                                            <div class="field">
                                                <label style="opacity:0">" "</label>
                                                <div class="ui right blue labeled icon button" onclick="AgregarProducto();">Agregar<i class="thumbs up icon"></i></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>


                            </form>

                            <div id="DivMessajeErrorProducto" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                                <div class="header">
                                    Se han encontrado algunos problemas, revíselos...
                                </div>
                                <ul id="listMessajeErrorProducto" class="list"></ul>
                            </div>

                        </div>

                        <table id="grdArticulos" class="ui inverted table table-striped table-bordered">
                            <thead>
                                <tr>

                                    <th style="width:10%">Op</th>
                                    <th style="width:50%">Artículo</th>
                                    <th style="width:10%">Cantidad</th>
                                    <th style="width:30%">Observacion</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            @*<tfoot class="full-width">
                                    <tr>
                                        <th></th>
                                        <th colspan="12">

                                            <div id="btnAgregarConductor" class="ui blue right labeled icon button" data-toggle="modal" data-target="#modalSolicitud">
                                                Importar desde excel
                                                <i class="plus icon"></i>
                                            </div>


                                        </th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>

                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui hidden error message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                </div>
                <br />
                <div id="msjError" class="ui icon error hidden message">
                    <i class="times circle icon"></i>
                    <div class="content">
                        <div class="header">
                            Error!!!
                        </div>
                        <p>Error al intentar crear la solicitud.</p>
                    </div>
                </div>
                <div id="msjExito" class="ui icon success hidden message">
                    <i class="check icon"></i>
                    <div class="content">
                        <div class="header">
                            Éxito!!!
                        </div>
                        <p>La solicitud fue modificada con éxito.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="btnSalir" class="ui right labeled icon button" onclick="window.location.replace('/LibroSolicitudes?limpiar=1')">Salir<i class="cancel icon"></i></div>
                    <div id="btnGuardar" class="ui positive right labeled icon button" onclick="GuardarSolicitud();">
                        Guardar
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEnviarSolicitud" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Enviar Solicitud</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="divConsultaEnviar" class="ui icon positive message">
                        <i class="paper plane outline icon"></i>
                        <div class="content">
                            <div class="header">
                                ¿Desea enviar esta solicitud?
                            </div>
                            <p>Esta solicitud será enviada a la droguería sin posibilidad de revertir el envió.</p>
                        </div>
                    </div>
                    <div id="divExitoEnviar" class="ui icon hidden positive  message">
                        <i class="paper plane outline icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La solicitud fue enviada con éxito.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="btnEnviar" onclick="EnviaSolicitud();" class="ui green right labeled icon button">
                        Enviar
                        <i class="checkmark icon"></i>
                    </div>
                    <div id="btnCancelar" data-dismiss="modal" class="ui right labeled icon button">
                        Cancelar
                        <i class="cancel icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<input type="hidden" id="idSolicitudSeleccionada" value="0" />
